@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
main {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 5em;
    font-family: 'Manrope';
    font-size: 16px;
    font-weight: 400;
    background-image: url(../imgs/dog-cat.jpg);
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: left bottom;
}
h1 {
    text-align: center;
    font-family: 'Manrope';
    font-size: 3em;
    text-transform: uppercase;
    font-weight: 800;
    line-height: 130%;
    margin-bottom: .5em;
    color: #ff4d00;
}
h2 {
    text-align: center;
    font-family: 'Manrope';
    font-size: 2em;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 130%;
    margin-bottom: .5em;
}
h3 {
    text-align: center;
    font-family: 'Manrope';
    font-size: 2.5em;
    font-weight: 500;
    line-height: 130%;
    margin-bottom: .5em;
    strong {
        text-transform: uppercase;
        font-weight: 700;
    }
}


.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #012a47;
    color: #fff;
    font-size: 1.2em;
    font-weight: 500;
    padding: 1em 3em;
    text-transform: uppercase;
    margin: 1em auto;
    border: none;
    text-decoration: none;
    transition: background-color 350ms ease-in;
    svg {
        font-size: 2em;
        margin-right: .25em;
    }

    &:hover {
        background-color: #ff4d00;
    }
}